# Java and Gradle specific
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.out
*.hprof
*.swp
*.DS_Store

# Gradle-specific files
.gradle/
build/
infrastructure/build/**
out/
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA-specific
.idea/
*.iws
*.ipr
.idea_modules/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/modules.xml
.idea/**/misc.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/libraries/
*.tmp
*.diff
*.patch
*.eslintrc.cache

# Maven-specific (if applicable)
target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
logs/
*.pid
*.gz

# Test-results specific
test-results/
*.ec
*.exec
*.coverage
*.coverage.*

# Temporary files
*.bak
*.swo

# Operating system
Thumbs.db
.DS_Store
desktop.ini

# Docker
docker-compose.override.yml
*.env

# JetBrains IDE shared indexes (optional, may slow down a clone)
.idea/**/shared-index/

# Spring Boot specific
*.db
*.h2.db
*.mv.db
*.trace.db

# JUnit Reports
test-output/
surefire-reports/

# Classpath files
.classpath
.project

# IDE Sync
.sync

# Temporary Files
tmp/


# Global JetBrains ignored directory
java/
.idea/